<div id="header">
  <ul>
    <li><a href="#contact">Contact</a></li>
  </ul><a href="https://www.facebook.com/ugo.elkoubi" class="social_contact">facebook</a>
</div>

<div class="section sectiontop">
  <img src="images/photo.jpg" id="profilepicture" width="110" height="110"
       alt="profile_picture" />

  <h1>{{name}}</h1>

  <h2>{{status}}</h2>

  <ul>
    <li><span>E-mail:</span> <a href="#">{{mail}}</a></li>

    <li><span>Website:</span> <a href="#">{{website}}</a></li>

    <li><span>Phone: </span>{{phone}}</li>

    <li><span>Date of birth: </span>{{dateBirth}}</li>

    <li><span>Address: </span>{{adress}}</li>
  </ul>
</div>

<div class="section personal">
  <div class="left">
    <h3>Profile & Objective</h3>
  </div>

  <div class="right">
    <p>{{profile1}}</p>
    <p>{{profile2}}</p>
  </div>
</div>

<div class="section education">
  <div class="left">
    <h3>Professional experiences</h3>
  </div>

  <div class="right">

    <!--<li ng-repeat="p in projects">{{p}}</li>-->
    <div class="row" ng-repeat="p in professionalExperiences">

      <h4>{{p.job}}</h4>

      <h5>{{p.name}}</h5>

      <p>{{p.description}}
      </p><a href="#">{{p.date}}</a>
    </div>
  </div>
</div>

<div class="section education">
  <div class="left">
    <h3>Education</h3>
  </div>

  <div class="right">
    <!--<div class="row selection_education">-->
    <div class="row" ng-repeat="p in education">
      <h4>{{p.school}}</h4>

      <h5>{{p.name}}</h5>

      <p>{{p.description}}
      </p><a href="#">{{p.date}}</a>
      </div>
  </div>
</div>

<div class="section technical">
  <div class="left">
    <h3>Technical Skills</h3>
  </div>

  <div class="right">
    <div class="right_right">
      <div ng-repeat="l in technicalSkills">
        <h4>{{l.name}}</h4>
        <div class="progress-bar green">
          <span style="width: 90%"></span>
        </div>
      </div>
    </div>
  </div>
</div>

